td,
th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

td {
    text-align: center;
    vertical-align: middle;
    height: 1.1vw;
    width: 1.1vw;
}


.red{
    background: red;
}